// Helpers
// MDB helpers
.img-fluid,
.video-fluid {
  max-width: 100%;
  height: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    margin: 0;
  }
  ul {
    text-align: center;
    li {
      margin-bottom: $flex-center-ul-mb;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}


// Responsive width
.w-responsive {
  width: 75%;
  @media (max-width: 740px) {
    width: 100%;
  }
}

.mml-1 {
  margin-left: - 0.25rem !important;
}
