@import "variables";
@import "mixins";
@import "helpers";
@import "utilities-spacing";
.nav-logo {
  text-align: center;
  padding: 1rem;
  a {
    color: rgba(255,255,255,.65);
    font-size: 1rem;
  }
  a:hover, a:focus, a:active {
    color: #1890ff;
    text-decoration: none;
  }
}
.d-flex {
  display: flex;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.w-100 {
  width: 100%!important;
}
.rounded {
  border-radius: .25rem !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.text-right {
  text-align: right;
}
.ant-dropdown-link {
  color: rgba(0, 0, 0, 0.85);
}
