/* eslint-disable */
<template lang="html">
  <a-layout :style="{ height: '100vh', background: '#eee' }" class="d-flex justify-content-center align-items-center">
      <a-form id='components-form-demo-normal-login' @submit="handleSubmit" class='login-form' :autoFormCreate="(form)=>{this.loginForm = form}" style="background: #fdfdfd; padding: 2rem; border-radius: 5px;">
        <template v-if="loginForm">
          <a-row style="padding: .8rem 2.4rem;">
            <img :src="`${baseUrl}logos/logo_400_dark.png`" width="200" class="img-fluid" />
          </a-row>
          <a-form-item
            :validateStatus="userNameError() ? 'error' : ''"
            :help="userNameError() || ''"
            fieldDecoratorId="login"
            :fieldDecoratorOptions="{rules: [{ required: true, message: 'Please input your username!' }]}"
          >
            <a-input placeholder='Username'>
              <a-icon slot="prefix" type='user' style="color:rgba(0,0,0,.25)"/>
            </a-input>
          </a-form-item>
          <a-form-item
            :validateStatus="passwordError() ? 'error' : ''"
            :help="passwordError() || ''"
            fieldDecoratorId="password"
            :fieldDecoratorOptions="{rules: [{ required: true, message: 'Please input your Password!' }]}"
          >
            <a-input type='password' placeholder='Password'>
              <a-icon slot="prefix" type='lock' style="color:rgba(0,0,0,.25)"/>
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-button
              type='primary'
              htmlType='submit'
              block
              :disabled="hasErrors(loginForm.getFieldsError())"
            >
              Log in
            </a-button>
          </a-form-item>
    </template>
    </a-form>
  <a-layout-footer style="text-align: center; position: absolute; bottom: 0;">
    ACEAdmin ©2018 Created by Wiktor 'ratten' Morawski
  </a-layout-footer>
  </a-layout>
</template>

<script>
function hasErrors (fieldsError) {
  return Object.keys(fieldsError).some(field => fieldsError[field])
}
export default {
  data () {
    return {
      hasErrors,
      baseUrl: process.env.BASE_URL,
      loginForm: null
    }
  },
  mounted () {
    this.$nextTick(() => {
      // To disabled submit button at the beginning.
      this.loginForm.validateFields()
    })
  },
  methods: {
    // Only show error after a field is touched.
    userNameError () {
      const { getFieldError, isFieldTouched } = this.loginForm
      return isFieldTouched('login') && getFieldError('login')
    },
    // Only show error after a field is touched.
    passwordError () {
      const { getFieldError, isFieldTouched } = this.loginForm
      return isFieldTouched('password') && getFieldError('password')
    },
    handleSubmit  (e) {
      e.preventDefault()
      this.loginForm.validateFields((err, values) => {
        if (!err) {
          this.$store.dispatch('login', values)
        } else {
          console.log(err)
        }
      })
    },
  }
}
</script>

<style lang="css">
</style>
