/* eslint-disable */
<template>
  <div id="app">
    <template v-if="isLoggedIn">
      <a-layout>
        <a-layout-sider
          breakpoint="lg"
          collapsedWidth="0"
        >
          <div class="nav-logo">
            <router-link :to="{ name: 'home', params: {} }">ACEAdmin</router-link>
          </div>
          <a-menu theme="dark" mode="inline" :defaultSelectedKeys="['1']">
            <a-menu-item key="1">
              <a-icon type="user" />
              <span>nav 1</span>
            </a-menu-item>
            <a-menu-item key="2">
              <a-icon type="video-camera" />
              <span>nav 2</span>
            </a-menu-item>
            <a-menu-item key="3">
              <a-icon type="upload" />
              <span>nav 3</span>
            </a-menu-item>
          </a-menu>
        </a-layout-sider>
        <a-layout :style="{ height: '100vh' }">
          <a-layout-header style="background: #fff;">
            <a-row>
              <a-col :span="6"><h2 style="cursor: default;">{{_.capitalize($route.name)}}</h2></a-col>
              <a-col :span="18" class="ml-auto text-right">
                <a-dropdown>
                  <a class="ant-dropdown-link" href="#">
                    Witaj, <strong>{{user.username}}</strong>
                    <a-avatar :src="image(user.photo)" class="ml-1" />
                  </a>
                  <a-menu slot="overlay">
                    <a-menu-item>
                      <a href="javascript:;">1st menu item</a>
                    </a-menu-item>
                    <a-menu-item>
                      <a href="javascript:;">2nd menu item</a>
                    </a-menu-item>
                    <a-menu-divider />
                    <a-menu-item>
                      <a href="javascript:;" @click="$store.dispatch('logout')">
                        <a-icon type="logout" /> Wyloguj się
                      </a>
                    </a-menu-item>
                  </a-menu>
                </a-dropdown>
              </a-col>
            </a-row>
          </a-layout-header>
          <a-layout-content
          :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px', height: '100%' }"
          >
          <pre style="overflow: auto; height: 100%">
            {{user}}
          </pre>
          </a-layout-content>
          <a-layout-footer style="textAlign: center">
            ACEAdmin ©2018 Created by Wiktor 'ratten' Morawski
          </a-layout-footer>
        </a-layout>
      </a-layout>
    </template>
    <template v-else>
      <login-page />
    </template>
  </div>
</template>

<script>
import LoginPage from '@/components/LoginPage'
import config from '@/config/api.json'
export default {
  components: {
    LoginPage
  },
  data () {
    return {
      baseUrl: process.env.BASE_URL
    }
  },
  methods: {
    image (url) {
      return config.base_url + url
    }
  },
  computed: {
    isLoggedIn () {
      return this.$store.getters.isLoggedIn
    },
    user () {
      return this.$store.getters.user
    }
  }
};
</script>

<style lang="scss">
@import '@/assets/scss/main.scss';
</style>
